{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Контакты сайта Nakey.kz" />
    <meta property="og:description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta property="og:url" content="{{SITE_URL}}/contacts" />
    <meta property="og:image" content="{% static 'img/logo.svg'%}">
    <title>О нас</title>
    <style>
        .nk-card{background-color: #fff}
    </style>
{% endblock head %}
{% block content %}
<div class="container nk-card">
    <div class="row">
        <div class="col-12 col-md-6 p-4 p-sm-5">
            <h3 class="mb-5">О нас</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-12 col-md-6 p-0">
            <img class="w-100" src="{% static 'img/back.jpg'%}" alt="">
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% endblock scripts%}