{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <base href="/"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:site_name" content="nakey.kz" />
<meta name="twitter:card" value="summary" />

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet"> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}" />
  <link rel="stylesheet" href="{% static 'slick/slick.css'%}">
  <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}">
  <script src="{% static 'js/vars.js' %}"></script>
  {% block head %}
  {% endblock head %}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <meta name="google-site-verification" content="j9nFYtxP4x1nCjXzs9TO2vem4jrqteJuKU8GKVgR5-8" />
  <meta name="google-site-verification" content="j9nFYtxP4x1nCjXzs9TO2vem4jrqteJuKU8GKVgR5-8" />
  <meta name="yandex-verification" content="e2badc35a48f15e5" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82111365-1"></script> -->
  <!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-82111365-1');
  </script> -->

<!-- Yandex.Metrika counter -->
<!-- <script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(52074039, "init", {
       id:52074039,
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script> -->
<!-- <noscript><div><img src="https://mc.yandex.ru/watch/52074039" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
<!-- /Yandex.Metrika counter -->
</head>
<body>
  {% include './header.html' %}
  <main class="main">
    {% block content %}
    {% endblock content %}
  </main>
  {% include './footer.html' %}
  <script src="{% static 'js/base.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
  <script src="{% static 'bootstrap-4.0.0/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap-4.0.0/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jq-templates.js' %}"></script>
  <script src="{% static 'toastr/toastr.min.js' %}"></script>
  <script src="{% static 'slick/slick.min.js' %}"></script>
  
  <!-- <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script> -->
  {% include './template.html' %}
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
