{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cart.css'%}">
<title>Корзина</title>
{% endblock head %}
{% block content %}
<div class="container">
    <h3 class="mt-3 mb-5">Ваша Корзина</h3>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="item-list d-flex flex-wrap"></div>
        </div>
        <div class="col-12 col-md-3 order">
            <h3>Оформить заказ</h3>
            <table id="cart-detail">                
                <tbody>
                    <tr>
                        <td>Количество товаров</td>
                        <td>Общая цена</td>
                    </tr>
                    <tr>
                        <td class="cart-count">

                        </td>
                        <td class="cart-price">

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="clickRequest()">Отправить заявку</button>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    var url = "http://localhost:8000/request/";
</script>
<script>
    function renderCart(){
        var items = onGetCartItems();
        $(".item-list").empty();
        if(items.length == 0){
            $(".item-list").append("<p>Ваша корзина пуста, ищите товары <a href='/shop'>тут</a></p>")
            $(".order").empty();
        }else{
            $(".order").html(` <h3>Оформить заказ</h3>
            <table id="cart-detail">                
                <tbody>
                    <tr>
                        <td>Количество товаров</td>
                        <td>Общая цена</td>
                    </tr>
                    <tr>
                        <td class="cart-count">

                        </td>
                        <td class="cart-price">

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="clickRequest()">Отправить заявку</button>`);
        }

        var allcount = 0;
        var  allprice = 0;
        items.map(item=>{
            allcount += Number(item.count);
            allprice += item.count*item.price;
            let data = { item: item };
            
            $("#cart_item_"+item.id+" .price").text(item.count*item.price+""); //
            $('#productCartPreviewTmpl').tmpl(data).appendTo('.item-list');
        });
        $("#cart-detail .cart-count").text(allcount);
        $("#cart-detail .cart-price").text(allprice);
    }
    function changeCount(e, item_id){
        // console.log("change count", item_id, e.value)
        onUpdateCartItem(item_id, e.value);
        renderCart();
    }
    function removeFromCart(item_id){
        onRemoveFromCart(item_id);
        renderCart();
    }
    function clickRequest(){
        if(onGetCartItems().length == 0){
            toastr.warning('Ваша корзина пуста')            
            return;
        }
        $('#requestmodal').empty();
        $('#requestModalTmpl').tmpl({item_id: "name"}).appendTo('#requestmodal');
        $("#requestmodal .modal").modal('show');
    }
    function sendRequest({}){
        if(onGetCartItems().length == 0)
            return;
        var name = $('#requestmodal #name').val();
        if(name == ''|| name == undefined){
            toastr.warning('Заполните имя')
            return;
        }
        var phone = $('#requestmodal #phone').val(); 
        if(phone == ''|| phone == undefined){
            toastr.warning('Заполните телефон')
            return;
        }
        var city = $('#requestmodal #city').val();
        if(city == ''|| city == undefined){
            toastr.warning('Заполните ваш город')
            return;
        }
        var data = JSON.stringify({
            name: name,
            phone: phone,
            city: city,
            items: onGetCartItems()
        });
        console.log(data)
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function(res){
                console.log(res)
                if(res){
                    if(res.code == 0){
                        console.log("success");
                        toastr.success('Ваш запрос успешно отправлен. Наши менеджеры в скором времени свяжутся с вами!')
                    }else{
                        toastr.warning('Ошибка #'+res.code, 'Попробуйте еще раз');
                    }
                }else{

                }
            },
            error: function(error){
                console.log(error);
                toastr.error(error.statusText, 'Ошибка сервера');
            }
        });
    }
</script>
<script>
    renderCart();
</script>
{% endblock scripts%}