{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Корзина</title>
    <meta name="description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Корзина" />
    <meta property="og:description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta property="og:url" content="{{SITE_URL}}/cart" />
    <meta property="og:image" content="{% static 'img/icon.png'%}">
    <style>
        h3{
            font-size: 28px;
        }
        .nk-card{
            background-color: #fff;
            padding: 32px;
        }
        .item-list .item{
            margin-bottom: 16px;
        }
        /* @media screen and (max-width: 992px){
            .list{
                order: 2; 
            }
            .order{
                order:1;
            }
        } */
        #cart-detail tr td:first-child{
            color: #3A3232;
            opacity: 0.5;
        }
        @media screen and (max-width: 576px){
            .nk-card{
                padding: 16px 21px;
            }
        }

    </style>
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 list">
            <div class="nk-card">
                <div class="item-list d-flex flex-wrap"></div>
            </div>
        </div>
        <div class="col-12 col-lg-4 order">
            <div class="nk-card">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
</script>
<script>
    function renderCart(){
        var items = onGetCartItems();
        $(".item-list").empty();
        if(items.length == 0){
            $(".item-list").append("<p>Ваша корзина пуста, ищите товары <a href='/shop'>тут</a></p>")
            $(".order .nk-card").empty();
        }else{
            $(".order .nk-card").html(` <h3 class="proxima-sb">Оформить заказ</h3>
            <table id="cart-detail" class="mt-4 mb-4">                
                <tbody>
                    <tr>
                        <td class="pr-4">Количество</td>
                        <td class="cart-count"></td>
                    </tr>
                    <tr>
                        <td class="pr-4">
                            Общая цена
                        </td>
                        <td class="cart-price">

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-nk btn-lg" onclick="clickRequest()">Оформить заявку</button>`);
        }

        var allcount = 0;
        var  allprice = 0;
        items.map(item=>{
            allcount += Number(item.count);
            allprice += item.count*item.price;
            let data = { item: item };
            
            $("#cart_item_"+item.id+" .price").text(item.count*item.price+""); //
            $('#productCartPreviewTmpl').tmpl(data).appendTo('.item-list');
        });
        $("#cart-detail .cart-count").text(allcount);
        $("#cart-detail .cart-price").html(allprice+'&nbsp;&#8376;');
    }
    function changeCount(value, item_id){
        // console.log("change count", item_id, value)
        if(value < 1)
            return;
        onUpdateCartItem(item_id, value);
        renderCart();
    }
    function removeFromCart(item_id){
        onRemoveFromCart(item_id);
        renderCart();
    }
    function clickRequest(){
        if(onGetCartItems().length == 0){
            toastr.warning('Ваша корзина пуста')            
            return;
        }
        $('#requestmodal').empty();
        $('#requestModalTmpl').tmpl({items: JSON.stringify(onGetCartItems())}).appendTo('#requestmodal');
        $("#requestmodal .modal").modal('show');
    }
</script>
<script>
    renderCart();
</script>
{% endblock scripts%}