{% load staticfiles %}
<style>
    footer .container{
        padding-top: 56px;
        padding-bottom: 56px;
    }
    h6{
        line-height: 18px;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
    }
    .address .city{
        opacity: 0.6;
    }
    .copy div{
        color: #3A3232;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    .copy img{
        max-width: 148px;
    }
    p{
        opacity: 0.6;
    }
    .contacts a{
        opacity: 0.6;
    }
    a.circle{
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #E4E5EC;
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        color: #A7ABBD;
        margin-left: 20px;
        text-decoration: none;
    }
    .circle:first-child{
        margin-left: 0;
    }
    .circle:hover .fa-instagram{
        color: #8a3ab9;
    }
    .circle:hover .fa-facebook-f{
        color: #3b5998;
    }
    .circle:hover .fa-vk{
        color: #4c75a3;
    }
    @media screen and (max-width: 576px){
        footer .container{
            padding-top: 24px;
            padding-bottom: 24px;
        }
        .copy{
            text-align: center;
        }
        .socials h6{
            display: none;
        }
        .socials .d-flex{
            align-items: center;
        }
        .socials .circle{
            margin-left: 0;
        }
        .circle .fa-instagram{
            color: #8a3ab9;
        }
        .circle .fa-facebook-f{
            color: #3b5998;
        }
        .circle .fa-vk{
            color: #4c75a3;
        }
    }
</style>
<footer>
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-sm-6 col-md-3 copy">
                <img class="mb-3 mb-sm-4" src="{% static 'img/logo.svg'%}" alt="Nakey logotype">
                <div class="pb-3 pb-sm-0">
                    © 2018 Nakey. All rights reserved.
                </div>
            </div>
            <div class="col-7 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 d-flex flex-column address">
                        <h6 class="color-black proxima-sb mb-3">Наш адрес</h6>
                        <b class="city mb-3">Almaty, Kazakhstan</b>
                        <p>Барахолка,ТЦ Дастур, <br/>
                            Северное кольцо 8, <br/>
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 d-flex flex-column contacts">
                        <h6 class="color-black proxima-sb mb-3">Наши контакты</h6>
                        <a class="color-black mb-3" href="tel:+77752530066">+7(775) 253 00 66</a>
                        <a class="color-black" href="mailto:nakeykz@gmail.com">nakeykz@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-5 col-sm-6 col-md-3 d-flex flex-column socials">
                <h6 class="color-black proxima-sb">Социальные сети</h6>
                <div class="d-flex flex-column flex-sm-row">
                    <a href="https://www.facebook.com/shop.nakeykz/" target="_blank" class="circle mb-3 d-flex justify-content-center align-items-center">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/nakeykz/" target="_blank" class="circle mb-3 d-flex justify-content-center align-items-center">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://vk.com/nakey_kz" target="_blank" class="circle mb-3 d-flex justify-content-center align-items-center">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>