{% load staticfiles %}
<footer class="container">
    <div class="row">
        <div class="col-4">
            <h6>Наш адрес</h6>

        </div>
        <div class="col-4">
            <h6>Наш адрес</h6>
            
        </div>
        <div class="col-4">
            <h6>Социальные сети</h6>
            <div>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://nakey.kz">Nakey.kz</a>
    </div>
</footer>