{% load staticfiles %}
<style>
@media screen and (max-width: 992px){
   
}
</style>
<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.svg' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Каталог 
                    </a>
                    <div class="dropdown-menu" id="dropdown-category" aria-labelledby="navbarDropdown">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                <div class="header-search d-flex my-2 my-lg-0">
                    <input class="form-control mr-2" type="search" placeholder="" aria-label="Search" id="header-search-text"/>
                    <button class="btn btn-outline-success" onclick="onSearch()">Найти</button>
                </div>   
            </ul>
            <div class="cart-link">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </nav>
</header>
<script>
var categories = [];
const categoryUrl = '/category';
// get category:
function getCategories(){
    $.ajax({
        url: categoryUrl,
        success: function(res){
            console.log(res)
            if(res){
                if(res.code == 0){
                    categories = res.data.results;
                    categories.map(c=>{
                        $('#dropdown-category').append(`<a class="dropdown-item" href="/shop/?category=${c.id}">${c.name}</a>`)
                    });
                }else{

                }
            }else{

            }
        },
    });
}   
getCategories();
function onSearch(){
    var text = $('#header-search-text').val();
    console.log(setUrlVar({name: 'search', value: text}))
    window.location.replace(setUrlVar({name: 'search', value: text}));    
}
</script>