{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Главная страница сайта Nakey.kz" />
    <meta property="og:description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta property="og:url" content="{{SITE_URL}}" />
    <meta property="og:image" content="{% static 'img/logo.svg'%}">
    <!-- <meta property="og:image:width" content="{{poll.facebook_image.width}}">
    <meta property="og:image:height" content="{{poll.facebook_image.height}}"> -->

    <title>Главная страница</title>
    
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock head %}
{% block content %}
<div id="banner">
    {% for banner in banners %}
    <div class="banner-item" style="background-image: url({{ banner.image.url }})">
        <div class="container h-100 d-flex align-items-center">
            <div class="row w-100">
                <div class="col-12 banner-text d-flex flex-column justify-content-center">
                    <h3 class="mb-0 mb-md-3">{{banner}}</h3>
                    <div class="w-100 d-flex justify-content-between">
                        <small class="d-flex align-items-center">{{banner.subtitle}}</small>
                        <!-- <a href="/shop" class="btn btn-outline-light">{{banner.button}}</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">
    <!-- <section id="about">
        <h3>Nakey.kz - широкии выбор кожанных изделии</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section> -->
    <div class="mb-4 d-flex justify-content-between">
        <h3 class="section-title">Популярные</h3>
        <a href="/shop" class="proxima-sb color-red">
            Весь каталог >
        </a>   
    </div>
    <div class="popular-list row">
        
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    var filter = {
        category_id: null,
        sort: null,
    }
    var items = [];
    console.log("DOMAIN: ", "{{SITE_URL}}")
    var popularUrl = "{{ SITE_URL }}/item/?limit=10";
</script>
<script>
    function getItems(){
        items = [];
        $('.popular-list').empty();
        if(filter.category_id)
            popularUrl+="&category_id="+filter.category_id;
        $.ajax({
            url: popularUrl,
            success: function(res){
                if(res){
                    if(res.code == 0){
                        items = res.data.results;
                        items.map(item=>{
                            $('.popular-list').append('<div class="col-12 col-sm-6 col-md-4 col-lg-3" id="item_'+item.id+'"></div>');
                            $('#productPreviewTmpl').tmpl({item: item, style: {className: ''}}).appendTo('#item_'+item.id);
                        })
                    }else{

                    }
                }else{

                }
            },
        });
    }
    function onClickCart(id){
        var cartItems = onGetCartItems();
        if(cartItems.find(item=>item.id == id)){
            window.location.href = "/cart";        
        }else{
            onAddToCart(items.find(item=>item.id == id));
        }
    }
</script>
<script>
    $('#banner').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        infinite: true,
        autoplay: false,
        autoplaySpeed: 5000,
        lazyLoad: 'ondemand',
        arrows: true,
        // variableWidth: true,
        // adaptiveHeight: true,

    });
    
    getItems();
</script>
{% endblock scripts%}