{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Корзина Nakey.kz" />
    <meta property="og:description" content="Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta property="og:url" content="https://nakey.kz/" />
    
    <link rel="stylesheet" href="{% static 'css/item.css'%}">
    <title>Каталог</title>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2&appId=362993607525362&autoLogAppEvents=1';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
{% endblock head %}
{% block content %}
<div class="container item-page">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="main-image mb-3" style="background-image: url(http://nakey.kz/media/{{item.images.all.0.image }})">
            </div>
            <div class="images">
                <div id="images-carousel">
                    {% for item in item.images.all %}
                        <div class="item-image cursor-pointer" onclick="openImage('http://nakey.kz/media/{{item.image}}')">
                            <img src="http://nakey.kz/media/{{item.image}}" alt=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <h1>{{ item.name }}</h1>
            <b>{{ item.price }}&nbsp;&#8376;</b>
            <p>{{ item.description }}</p>
            <div class="btns d-flex mb-4">
                <button class="btn btn-light mb-3 mr-3" onclick="clickBuy()">Купить</button>
                <button class="btn btn-light mb-3 mr-3 cart-btn" onclick="onClickCart()">Добавить в корзину</button>
                <!-- <i class="fas fa-share-square"></i> -->
            </div>
            <div class="share d-flex align-items-center">
                <input type="text" value="" id="thislink">
                <div class="cursor-pointer mr-3" href="" target="_blank" onclick="copyLink()">
                    <i class="far fa-copy"></i>
                </div>
                <div class="fb-share-button mr-3" data-href="{{ request.build_absolute_uri}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}" class="fb-xfbml-parse-ignore">Поделиться</a>
                </div>
                <script type="text/javascript">
                    document.write(VK.Share.button({url: "{{ request.build_absolute_uri }}"},{type: "round", text: "Поделиться"}));
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="image-preview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="hover-zoom">
                    <img src="" alt="" class="w-100"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    Поделиться
            </div>                
            <div class="modal-body">
                <div class="d-flex">
                    <a href="https://www.facebook.com/shop.nakeykz/" target="_blank" class="circle">
                        <i class="far fa-copy"></i>
                    </a>
                    <a href="https://www.facebook.com/shop.nakeykz/" target="_blank" class="circle">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://vk.com/nakey_kz" target="_blank" class="circle">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'zoom/jquery.zoom.min.js' %}"></script>
<script src="{% static 'zoom/jquery.zoom.js' %}"></script>
<script>
    var currentLink = document.location.href;
    let url = '/item/{{item.id}}';
    $('#thislink').val(currentLink);
    var item;
    $.ajax({
        url: url,
        success: function(res){
            console.log(res)
            if(res){
                if(res.code == 0){
                    item = res.data;
                }else{

                }
            }else{

            }
        },
    });
    var length = '{{item.images.all | length}}';
    var show = length > 3?3:length;
    $('#images-carousel').slick({
        slidesToShow: show,
        slidesToScroll: 1,
        dots: false,
        infinite: false,
        autoplay: false,
        lazyLoad: 'ondemand',
        arrows: true,
        // variableWidth: true,
        // adaptiveHeight: true,

    });
    let items = onGetCartItems()
    if(items.find(item=>item.id == '{{item.id}}')){
        $('.cart-btn').text('Перейти в корзину');
    }

    function onClickCart(){
        var cartItems = onGetCartItems();
        var id = item.id;
        if(cartItems.find(item=>item.id == id)){
            window.location.href = "/cart";        
        }else{
            onAddToCart(item);
            $('.cart-btn').text('Перейти в корзину');
        }
    }
    function clickBuy(){
        onClickBuy(JSON.stringify(item));
    }
    function openImage(image_url){
        $('.main-image').css({'background-image': 'url('+image_url+')'});
        $('#image-preview img').attr('src', image_url);
        $('#image-preview').modal('show');
        $(document).ready(function(){
            // $('#image-preview img').zoom({url: image_url});
			$('#hover-zoom').zoom();
        });
    }
    function openShare(){
        $('#share-modal').modal('show');
    }
    function copyLink(){
        var copyText = document.getElementById("thislink");
        copyText.select();
        document.execCommand("copy");
        // alert("Copied the text: " + copyText.value);
    }
</script>
{% endblock scripts %}