{% extends './base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    <title>{{item.name}}</title>
    <meta property="og:description" content="Купить {{item.name}} в магазине Nakey.kz" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{item.name}}" />
    <meta property="og:description" content="Купить {{item.name}} в магазине Nakey.kz" />
    <meta property="og:url" content="{{SITE_URL}}/shop/item/{{item.id}}" />
    <meta property="og:image" content="{{SITE_URL}}/media/{{item.images.all.0.image}}">
       
    <link rel="stylesheet" href="{% static 'css/item.css'%}">

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2&appId=362993607525362&autoLogAppEvents=1';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
{% endblock head %}
{% block content %}
<div class="container item-page">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="main-image mb-3" style="background-image: url({{ SITE_URL }}/media/{{item.images.all.0.image }})">
            </div>
            <div class="images">
                <div id="images-carousel">
                    {% for item in item.images.all %}
                        <div class="item-image cursor-pointer" onclick="openImage('{{ SITE_URL }}/media/{{item.image}}')">
                            <img src="{{ SITE_URL }}/media/{{item.image}}" alt=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 description">
            <h1 class="color-black">{{ item.name }}</h1>
            <p class="color-black">{{ item.description }}</p>
            <table class="detail w-100 mb-5">
                <tr>
                    <td>{% blocktrans %}Категория{% endblocktrans %}:</td>
                    <td>{{item.category.name}}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Цвет{% endblocktrans%}:</td>
                    <td>{{item.colors.all.0.name}}</td>
                </tr>
                <tr>
                    <td>{% blocktrans %}Пройзводство{% endblocktrans %}:</td>
                    <td>{{item.manufacture.name}}</td>
                </tr>
            </table>
            <div class="mb-5 color-red price">{{ item.price }}&nbsp;&#8376;</div>
            <div class="btns mb-4 row">
                <div class="col-12 col-md-6">
                    <button class="btn btn-nk btn-lg mb-3 mr-3 w-100" onclick="clickBuy()">{% blocktrans %}Купить{% endblocktrans %}</button>
                </div>
                <div class="col-12 col-md-6">
                    <button class="btn btn-outline-nk bordered btn-lg btn-cart mb-3 mr-3 cart-btn w-100" onclick="onClickCart()">
                        <img src="{% static 'img/add-cart-red.svg' %}">
                        {% blocktrans %}Добавить в корзину{% endblocktrans %}</button>
                </div>
            </div>
            <div class="mb-4 share">
                <span class="mr-4">{% blocktrans %}Поделитесь c друзьями{% endblocktrans %}</span>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}" class="fb-xfbml-parse-ignore mr-3">
                    <img class="cursor-pointer" src="{% static 'img/fb.svg' %}"/>
                </a>
                <a target="_blank" href="http://vk.com/share.php?url={{ request.build_absolute_uri }}">
                    <img class="cursor-pointer" src="{% static 'img/vk.svg' %}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="image-preview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="hover-zoom">
                    <img src="" alt="" class="w-100"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% blocktrans %}Поделиться{% endblocktrans %}
            </div>                
            <div class="modal-body">
                <div class="d-flex">
                    <a href="https://www.facebook.com/shop.nakeykz/" target="_blank" class="circle">
                        <i class="far fa-copy"></i>
                    </a>
                    <a href="https://www.facebook.com/shop.nakeykz/" target="_blank" class="circle">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://vk.com/nakey_kz" target="_blank" class="circle">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'zoom/jquery.zoom.min.js' %}"></script>
<script src="{% static 'zoom/jquery.zoom.js' %}"></script>
<script>
    var currentLink = document.location.href;
    let itemUrl = '/item/{{item.id}}';
    $('#thislink').val(currentLink);
    var item;
    $.ajax({
        url: itemUrl,
        success: function(res){
            if(res){
                if(res.code == 0){
                    item = res.data;
                }else{

                }
            }else{

            }
        },
    });
    var length = '{{item.images.all | length}}';
    var show = length > 3?3:length;
    $('#images-carousel').slick({
        slidesToShow: show,
        slidesToScroll: 1,
        dots: false,
        // infinite: false,
        autoplay: false,
        lazyLoad: 'ondemand',
        arrows: true,
        // adaptiveHeight: true,
        // centerMode: true,
        // variableWidth: true,
        // infinite: true

    });
    let items = onGetCartItems()
    if(items.find(item=>item.id == '{{item.id}}')){
        $('.cart-btn').text('{% blocktrans %}Перейти в корзину{% endblocktrans %}');
    }

    function onClickCart(){
        var cartItems = onGetCartItems();
        var id = item.id;
        if(cartItems.find(item=>item.id == id)){
            window.location.href = "/cart";        
        }else{
            onAddToCart(item);
            $('.cart-btn').text('{% blocktrans %}Перейти в корзину{% endblocktrans %}');
        }
    }
    function clickBuy(){
        onClickBuy(JSON.stringify(item));
    }
    function openImage(image_url){
        $('.main-image').css({'background-image': 'url('+image_url+')'});
        $('#image-preview img').attr('src', image_url);
        if(window.innerWidth > 576){
            $('#image-preview').modal('show');
            $(document).ready(function(){
                // $('#image-preview img').zoom({url: image_url});
                $('#hover-zoom').zoom();
            });
        }
    }
    function openShare(){
        $('#share-modal').modal('show');
    }
    function copyLink(){
        var copyText = document.getElementById("thislink");
        copyText.select();
        document.execCommand("copy");
        toastr.success('{% blocktrans %}Вы скопировали ссылку{% endblocktrans %}')
        // alert("Copied the text: " + copyText.value);
    }
</script>
{% endblock scripts %}