{% extends './base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Каталог товаров</title>
    <meta name="description" content="Каталог товаров Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta name="keywords" content="кожа, кожаные изделия, конные снаряжения, сумки, кожаные сумки"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Каталог товаров" />
    <meta property="og:description" content="Каталог товаров Nakey.kz - магазин кожаных изделий и конных снаряжений" />
    <meta property="og:url" content="{{SITE_URL}}/shop" />
    <meta property="og:image" content="{% static 'img/icon.png'%}">
    <style>
        .filter .dropdown button,
        .filter button{
            width: 100%;
        }
        main.main{
            padding-top: 8px;
            background-color: #fff;
        }
        .card{
            border-radius: 0;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-end mb-3">
            <label for="" class="d-flex align-items-center mr-3 mb-0">Сортировка по</label>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="order-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sort-btn">
                    <div class="dropdown-item" data-ordering="price" onclick="sortOrder('price', 'Цене')">Цене <i class="fas fa-sort-numeric-up"></i></div>
                    <div class="dropdown-item" data-ordering="-price" onclick="sortOrder('-price', 'Цене')">Цене <i class="fas fa-sort-numeric-down"></i></div>
                    <div class="dropdown-item" data-ordering="view_count" onclick="sortOrder('view_count', 'Популярности')">Популярности <i class="fas fa-sort-numeric-up"></i></div>
                    <div class="dropdown-item" data-ordering="-view_count" onclick="sortOrder('-view_count', 'Популярности')">Популярности <i class="fas fa-sort-numeric-down"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group my-2 my-lg-0 header-search mr-3 d-flex d-md-none">
                <input  id="header-search-text" type="search" class="form-control" placeholder="Кожаный рюкзак" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-nk" type="button" onclick="onSearch()">Найти</button>
                </div>
            </div>  
            <div class="d-none d-md-block col-12 col-lg-3">                
                <div class="card">
                    <div class="card-header">
                        КАТАЛОГ
                    </div>
                    {% include './categories.html' with handler='shop'%}
                </div>

            </div>
            <div class="col-12 col-lg-9">
                
                <div class="item-list row"></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    var filter = {
        category: null,
        ordering: null,
    }
    var items = [];
    var categories = [];
    var orders = [
        {name: 'Цене', value: 'price'},
        {name: 'Цене', value: '-price'},
        {name: 'Популярности', value: 'view_count'},
        {name: 'Популярности', value: '-view_count'},
    ]
    const itemUrl = "/item/?limit=100";
    var shopUrl = "/shop/";
</script>
<script>
    // get category:
    function getCategories(){
        $.ajax({
            url: categoryUrl,
            success: function(res){
                if(res){
                    if(res.code == 0){
                        categories = res.data.results;
                        if(filter.category){
                            let name = categories.find(c=>c.id == filter.category).name;
                            $('#category-btn').text(name);     
                        }
                        if(filter.ordering){
                            let name = orders.find(c=>c.value == filter.ordering).name;
                            $('#order-btn').text(name);
                        }
                    }else{

                    }
                }else{

                }
            },
        });
    }
    //get items:
    function getItems(){
        var query = getUrlVars();
        filter.category = query['category'];
        filter.ordering = query['ordering'];
        filter.search = query['search'];
        items = [];
        $('.item-list').empty();
        let newUrl = itemUrl;
        if(filter.category){
            newUrl+="&category="+filter.category;
        }
        if(filter.ordering){
            newUrl+="&ordering="+filter.ordering;
        }
        if(filter.search){
            newUrl+="&search="+filter.search;
            $('#search-text').val(filter.search);
        }
        $.ajax({
            url: newUrl,
            success: function(res){
                if(res){
                    if(res.code == 0){
                        items = res.data.results;
                        items.map(item=>{
                            // console.log(item)
                            $('#productPreviewTmpl').tmpl({item: item, style: {className: 'col-12 col-sm-6 col-md-4 col-lg-4'}}).appendTo('.item-list');
                        })
                        if(items.length == 0){
                            $('.item-list').append(`<h4 class="color-grey p-3">К сожелению, товары не нашлись :(</h4>`)
                        }
                    }else{

                    }
                }else{

                }
            },
        });
    }
    function onClickCart(id){
        var cartItems = onGetCartItems();
        if(cartItems.find(item=>item.id == id)){
            window.location.href = "/cart";        
        }else{
            onAddToCart(items.find(item=>item.id == id));
        }
    }
    function sendRequest(item_id){
        var data = {
            name: $('#requestmodal #name').val(),
            phone: $('#requestmodal #phone').val(),
            city: $('#requestmodal #city').val(),
            items: item_id
        }
        // console.log(data)
    }
    function sortOrder(order, text){
        $('#order-btn').text(text);
        // console.log(setUrlVar({name: 'ordering', value: order}));
        window.location.replace(setUrlVar({name: 'ordering', value: order}));
    }
    function changeCategory(id, text){
        // console.log(setUrlVar({name: 'category', value: id}));
        window.location.replace(setUrlVar({name: 'category', value: id}));
    }
    function acceptFilter(){
        let text = $('#search-text').val();
        // console.log(text)
        if(text == '' || text == undefined)
            return;
        window.location.replace(setUrlVar({name: 'search', value: text}));
    }
    $('#search-text').keyup(function(e){
        if(e.keyCode == 13){
            acceptFilter();
        }
    });
</script>
<script>
    getCategories();
    $(document).ready(function(){
        getItems();
        $('.dropdown-menu .dropdown-item').each(function(){
            var query = getUrlVars();
            if(query['ordering'] == $(this).attr('data-ordering')){
                $(this).addClass('active')
            }

        })
    })
</script>
{% endblock scripts%}