{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/template.css'%}">

<script id="productPreviewTmpl" type="text/x-jquery-tmpl">
    <div class="item-outer ${style.className}">
            <div class="item cursor-pointer">
                <a class="item-details cursor-pointer" href="/shop/item/${item.id}">
                    <div class="img" style="background-image: url({{ SITE_URL }}${item.images[0]})">
                        <!-- change this to last image -->
                    </div>
                    <div class="description p-2 text-center">
                        <h5 class="main-black color-black">${item.name}</h5>
                        <h6 class="main-black color-red">${item.price}&nbsp;&#8376;</h6>                       
                    </div>
                </a>
                <div class="container item-btns d-flex justify-content-between">
                    <button class="btn btn-nk" onclick="onClickBuy(`${JSON.stringify(item)}`)">{% blocktrans %}Купить{% endblocktrans %}</button>
                    <button class="btn btn-outline-nk" onclick="onClickCart(${item.id})">
                        <div class="cart-icon"></div>
                        {% blocktrans %}В корзину{% endblocktrans %}
                    </button>                            
                </div>
            </div>
        </div>
</script>

<script id="productCartPreviewTmpl" type="text/x-jquery-tmpl">
    <div class="item-outer-cart item-outer w-100 d-flex flex-row justify-content-between" id="cart_item_${item.id}">
        <div class="cart-item">
            <div class="d-flex item-details cursor-pointer flex-row pl-0 cursor-pointer">
                <div class="img" style="background-image: url({{ SITE_URL }}${item.images[0]})">
                </div>
                <div class="d-flex right-side">
                    <div class="description d-flex flex-column justify-content-center p-2 mr-3">
                        <a href="/shop/item/${item.id}"><h5 class="main-black">${item.name}</h5></a>
                        <div class="d-flex justify-content-between">
                            <span class="price color-red">${item.price}&nbsp;&#8376;</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn-count d-flex justify-content-center align-items-center mr-4" onclick="changeCount(${item.count-1}, ${item.id})"><span class="minus"></span></button>
                        <span class="d-flex justify-content-center align-items-center">${item.count}</span> 
                        <button class="btn-count d-flex justify-content-center align-items-center ml-4 mr-4" onclick="changeCount(${item.count+1}, ${item.id})"><span class="plus"></span></button>
                        <span class="price d-none d-sm-flex">${item.price*item.count}&nbsp;&#8376;</span>
                    </div>
                </div>
            </div>
        </div>
        <div onclick="removeFromCart(${item.id})" class="btn-remove text-right cursor-pointer d-flex align-items-center">
            <i class="fas fa-times"></i>
        </div>
    </div>
</script>
<script id="requestModalTmpl" type="text/x-jquery-tmpl">
    <div class="modal request-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close p-4" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center proxima-sb mb-5">{% blocktrans %}Заявка{% endblocktrans %}</h4>
                    <div class="form-group">
                        <label for="name">{% blocktrans %}Ваше имя{% endblocktrans %}</label>
                        <input name="name" id="name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">{% blocktrans %}Ваш телефон{% endblocktrans %}</label>
                        <input name="phone" id="phone" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="city">{% blocktrans %}Ваш город{% endblocktrans %}</label>
                        <input name="city" id="city" type="text" class="form-control"/>
                    </div>
                    <button type="submit" class="w-100 btn btn-nk btn-lg mt-3" onclick="prepareRequest(`${items}`)">{% blocktrans %}Отправить{% endblocktrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>
<div id="requestmodal"></div>
<script>
    var requestUrl = "{{SITE_URL}}/request/";
</script>
<script>
    function onClickBuy(item){
        // console.log("onlcik item", item)
        let data = {
            items: JSON.stringify([JSON.parse(item)])
        }
        $('#requestmodal').empty();
        $('#requestModalTmpl').tmpl(data).appendTo('#requestmodal');
        $("#requestmodal .modal").modal('show');
    }
    function onSendRequest(data){
        $.ajax({
            type: 'POST',
            url: requestUrl,
            data: JSON.stringify(data),
            dataType: 'json',
            // processData: false,
            contentType: "application/json; charset=utf-8",
            // contentType: false,
            success: function(res){
                if(res){
                    if(res.code == 0){
                        toastr.success('{% blocktrans %}Ваш запрос успешно отправлен. Наши менеджеры в скором времени свяжутся с вами!{% endblocktrans %}')
                        $("#requestmodal .modal").modal('hide');
                    }else{
                        toastr.warning('{% blocktrans %}Ошибка{% endblocktrans %} #'+res.code, '{% blocktrans %}Попробуйте еще раз{% endblocktrans %}');
                    }
                }else{

                }
            },
            error: function(error){
                toastr.error(error.statusText, '{% blocktrans %}Ошибка сервера{% endblocktrans %}');
            }
        });
    }
    function prepareRequest(items){
        if(onGetCartItems().length == 0)
            return;
        var name = $('#requestmodal #name').val();
        if(name == ''|| name == undefined){
            toastr.warning('{% blocktrans %}Заполните имя{% endblocktrans %}')
            return;
        }
        var phone = $('#requestmodal #phone').val(); 
        if(phone == ''|| phone == undefined){
            toastr.warning('{% blocktrans %}Заполните телефон{% endblocktrans %}')
            return;
        }
        var city = $('#requestmodal #city').val();
        if(city == ''|| city == undefined){
            toastr.warning('{% blocktrans %}Заполните ваш город{% endblocktrans %}')
            return;
        }
        let parsedItems = [];
        JSON.parse(items).map(item=>{
            parsedItems.push({item: item.id, count: item.count });
        })
        let data = {
            full_name: name, 
            phone: phone, 
            address: city, 
            items: parsedItems
        }
        onSendRequest(data);
    }
</script>