main.main{
    padding-top: 0;
    background: #fff;
}
section{
    padding: 60px 0;
}
h3.section-title{
    text-align: center;
    font-size: 36px;
}
#banner{
    /* overflow: hidden; */
}
#banner .slick-prev{
    left: 25px;
    background-image: url("../img/angle-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .slick-prev:before{
    content: '';
}
#banner .slick-prev{
    left: 25px;
    z-index: 1200;
}
#banner .slick-next{
    right: 25px;
    background-image: url("../img/angle-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .slick-next:before{
    content: '';
}
#banner .slick-dots{
    bottom: 10px;
}
#banner .slick-dots li button:before
{
    font-size: 16px;
    line-height: 16px;
    color: rgba(0,0,0,0);
    border: 1px solid rgba(255,255,255,1);
    background-color: rgba(0,0,0,0);
    padding: 0;
    border-radius: 50%;
}
.banner-item{
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    /* background-color: rgba(0,0,0,0.5); */
    padding: 20px;
    color: #fff;
}
.banner-text h3{
    font-size: 40px;
}
.banner-text small{
    font-size: 30px;
}
/* popular: */
#popular{

}
.popular-list .item-outer{
    padding: 0 16px;
}
#popular .slick-prev:before, #popular .slick-next:before{
    /* color: rgba(23,230,0,1); */
    color: rgba(0,0,0,0.8);
}
/*  */
@media screen and (max-width: 576px){
    .banner-item{
        height: 110px;
    }
    .banner-text{
        padding-left: 50px;
    }
    .banner-text h3{
        font-size: 22px;
    }
    .banner-text small{
        font-size: 14px;
    }
    h3.section-title{
        font-size: 18px;
    }
}