.item-page{
    padding: 64px;
    background-color: #fff;
}
.description h1{
    line-height: 42px;
    font-size: 28px;
}
.description p{
    line-height: 30px;
    font-size: 15px;
}
.main-image{
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.images{
    padding: 0 22px;
}
.item-image{
    width: 120px;
    height: 120px;
    padding: 0 8px;
}
.item-image img{
    width: 100%;
}
#images-carousel .slick-prev:before, #images-carousel .slick-next:before{
    /* color: rgba(23,230,0,1); */
    color: rgba(0,0,0,1); 
    /* not works, why? */
}
#image-preview .modal-dialog{
    width: calc(100vh - 28px);
    margin-top: 14px;
    max-width: none;
}
#thislink{
    position: absolute;
    left: -99999px;
}
table.detail tr td:first-child{
    line-height: 24px;
    font-size: 14px;
    opacity: 0.5;
}
table.detail tr td:second-child{
    line-height: 24px;
    font-size: 14px;
}
.price{
    line-height: 42px;
    font-size: 28px;
}
.share span{
    line-height: 18px;
    font-size: 15px;
    color: #000000;
    opacity: 0.5;
}
.share a{
    text-transform: none;
    text-decoration: none;
}
.share img{
    /* transition: all 0.5s ease-out; */
}
.share img:hover{
    transform: scale(1.07);
}
#images-carousel .slick-prev{
    background-image: url("../img/angle-left-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#images-carousel .slick-prev:before{
    content: '';
}
#images-carousel .slick-next{
    background-image: url("../img/angle-right-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#images-carousel .slick-next:before{
    content: '';
}
@media screen and (max-width: 576px){
    .item-page{
        padding: 20px;
    }
    #images-carousel .item-image{
        pointer-events: none;
    }

}